.menu-card {
  background: #F4EDE5;
  border-radius: 16px;
  margin-right: 32px;
  padding: 64px 90px 64px 90px;
  max-width: 230px;
}

.card-header {
  padding-bottom: 190px;
}

.category-label {
  padding-bottom: 34px;
}

.card-description {
  font-family: Montserrat, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  padding-bottom: 50px;
}